<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Frost</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>2</integer>
		<integer>3</integer>
	</array>
	<key>Blaze</key>
	<array>
		<integer>3</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>3</integer>
	</array>
	<key>Timber</key>
	<array>
		<integer>4</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>3</integer>
	</array>
	<key>Nebula</key>
	<array>
		<integer>2</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
	</array>
</dict>
</plist>
